In [346]:
import pandas
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [347]:
data = pandas.read_csv('problem_2_train.csv' , index_col=0)
testdata = pandas.read_csv('problem_2_test.csv', index_col=0)
testdata.head()

,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate
srno,,,,,,,,,,,,,,
2829088,AN,3,560011,233,233,131,A,ADLD,560093,2017-07-30,2017-07-27,2018-02-01,4467,2018-02-06
2829866,AJ,2,110018,233,233,228,A,ADLD,110034,2017-07-17,2017-01-25,2018-02-01,4388,2018-02-08
2894489,AJ,3,560011,233,233,228,C,ADLD,590014,2018-01-12,2018-01-11,2018-02-21,4460,2018-02-28
2876708,AJ,2,110018,233,233,228,B,ADLD,250110,2017-08-07,2017-05-21,2018-02-16,4388,2018-02-26
2890283,AN,22,400104,233,233,131,C,ADLD,496001,2017-11-10,2017-09-22,2018-02-20,4581,2018-02-23

In [348]:
label_encoder = preprocessing.LabelEncoder() 
data['mobmake']= label_encoder.fit_transform(data['mobmake']) 
data['custpincodecategory']= label_encoder.fit_transform(data['custpincodecategory']) 
data['claimtype']= label_encoder.fit_transform(data['claimtype'])

In [349]:
data.head()

,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,memcreateddate,mobilepurchasedate,claimintdate,servicecntrid,pickupStartdate,tat_in_days
srno,,,,,,,,,,,,,,,
2851218,12,7,500004,233,233,131,1,0,500001,2017-04-27,2016-12-02,2018-02-08,4403,2018-02-13,5
2838330,8,10,226010,233,233,131,1,0,226022,2017-03-06,2017-03-05,2018-02-04,4444,2018-02-08,12
2835781,8,2,110018,233,233,228,1,0,110018,2018-02-01,2018-01-27,2018-02-03,4388,2018-02-12,9
2838589,11,2,110018,233,233,228,2,0,124001,2018-01-17,2018-01-31,2018-02-04,4092,2018-02-14,9
2855214,12,21,110015,233,233,131,1,0,201301,2018-01-23,2018-01-20,2018-02-09,4580,2018-02-14,8

In [350]:
data['memcreateddate']=pandas.to_datetime(data['memcreateddate'], errors='coerce', format='%Y-%m-%d')
data['mobilepurchasedate']=pandas.to_datetime(data['mobilepurchasedate'], errors='coerce', format='%Y-%m-%d')
data['claimintdate']=pandas.to_datetime(data['claimintdate'], errors='coerce', format='%Y-%m-%d')
data['pickupStartdate']=pandas.to_datetime(data['pickupStartdate'], errors='coerce', format='%Y-%m-%d')
data['memandpurchasediff']=((data['memcreateddate']-data['mobilepurchasedate']).dt.days).astype(int)
data['claimpurchasediff']=((data['claimintdate']-data['mobilepurchasedate']).dt.days).astype(int)
data['pickupclaimdiff']=((data['pickupStartdate']-data['claimintdate']).dt.days).astype(int)
data['pickanddeliversame']=np.where(data['pickuppartnerid']==data['deliverypartnerid'] ,1 ,0 )
data['pincode']=np.where(data['custpincode']==data['hubpincode'],0,data['hubpincode'])
data.drop(['memcreateddate' ,'mobilepurchasedate' , 'claimintdate' ,'pickupStartdate'] ,axis=1 , inplace = True)

In [351]:
names = data.columns
scaler = StandardScaler()
text=scaler.fit_transform(data)
data =pandas.DataFrame(text, columns=names)
data.head()

,mobmake,hubid,hubpincode,pickuppartnerid,deliverypartnerid,insuranceCompanyId,custpincodecategory,claimtype,custpincode,servicecntrid,tat_in_days,memandpurchasediff,claimpurchasediff,pickupclaimdiff,pickanddeliversame,pincode
0,-0.035180,-0.517683,0.747113,0.011343,0.066813,-0.574025,-0.548457,-0.025306,0.635111,-0.269538,-1.523193,0.603816,1.083261,-0.219010,0.447042,0.762359
1,-0.710157,-0.189482,-0.536640,0.011343,0.066813,-0.574025,-0.548457,-0.025306,-0.663532,-0.065486,-0.143918,-0.440614,0.512931,-0.415086,0.447042,-0.510730
2,-0.710157,-1.064685,-1.080101,0.011343,0.066813,1.742085,-0.548457,-0.025306,-1.213383,-0.344191,-0.735036,-0.411802,-1.421487,0.565297,0.447042,-1.560865
3,-0.203924,-1.064685,-1.080101,0.011343,0.066813,1.742085,0.721119,-0.025306,-1.147105,-1.817344,-0.735036,-0.548659,-1.439126,0.761373,0.447042,-1.049677
4,-0.035180,1.013923,-1.080115,0.011343,0.066813,-0.574025,-0.548457,-0.025306,-0.780708,0.611368,-0.932075,-0.426208,-1.345051,-0.219010,0.447042,-1.049691

In [352]:
y=data["tat_in_days"]

In [359]:
feature_cols = ['mobmake', 'hubid','pincode',
       'pickanddeliversame', 'insuranceCompanyId', 'custpincodecategory',
       'claimtype',  'servicecntrid' , "memandpurchasediff","claimpurchasediff","pickupclaimdiff" ]
X=data[feature_cols]

In [362]:
from sklearn.model_selection import train_test_split
X_train ,X_test , y_train , y_test = train_test_split(X , y , random_state=1) 
from sklearn.linear_model import LinearRegression
line  = LinearRegression()
line.fit(X_train , y_train)
y_pred = line.predict(X_test)
print(y_pred)
print(np.sqrt(metrics.mean_squared_error(y_test , y_pred)))

[ 0.11377917 -0.42130853  0.07993676 ... -0.17442838 -0.16520361
 -0.21403913]
0.9939048519233672